.account__name {
  color: white;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  display: block;
}
.account__img {
  width: 300px;
  margin-bottom: 30px;
}
.account__form {
  margin-bottom: 30px;
}
.account__group {
  width: 100%;
}
/* /////////////////////////////////////////////////////////////// */

.comments__coment {
  border: 4px solid gray;
  padding: 20px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 35px;
}
.comments__name {
  color: white;
}
.comments__created {
  color: gray;
}
.comments__content {
  color: white;
}
.comments__delete {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/* /////////////////////////////////////////////////////// */
/* общее */
.green-main {
  color: #10ddb4;
  transition: color 0.3s ease, transform 0.3s ease;
}
