.account__name {
  color: white;
  font-size: 30px;
  margin-top: 50px;
  margin-bottom: 30px;
  display: block;
}
.account__img {
  width: 300px;
  margin-bottom: 30px;
}
.account__form {
  margin-bottom: 30px;
}
.account__group {
  width: 100%;
}
/* /////////////////////////////////////////////////////////////// */

.comments__coment {
  border: 4px solid gray;
  padding: 20px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 35px;
}
.comments__name {
  color: white;
}
.comments__created {
  color: gray;
}
.comments__content {
  color: white;
}
.comments__delete {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/* /////////////////////////////////////////////////////// */
/* общее */
.green-main {
  color: #10ddb4;
  transition: color 0.5s ease;
}
.green-main:hover {
  color: white;
}
.trans {
  transition: all .5s ease;
}
.green-main2 {
  color: #10ddb4;
}
.mr-62 {
  margin-right: 62px;
}
.mt-200 {
  margin-top: 200px;
}
.mb-200 {
  margin-bottom: 200px;
}
.mb-100 {
  margin-bottom: 100px;
}
.latest-comments-widget .lc-item {
  margin-bottom: 37px;
}
/* ////////////////////////////////////////////////////// */
/* пагинация */
.page-link.active, .page-item.active {
  box-shadow: none;
  background-color: transparent;
  outline: none; /* Убираем обводку */
}

.page-item .page-link {
  background-color: gray;
  color: black
}
.page-item.active .page-link {
  background-color: black;
  border-color: black
}
/* //////////////////////////////////////////////////// */
/* категории */
.category__title {
  font-size: 23px;
}
/* //////////////////////////////////////////////////// */
/* коменты на главной */
/* .main-comments__title {
  margin-bottom: 30px !important;
} */